<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img style={
        width=500px;
        height=100%;
      } src= {{parts['image']}} class="img-fluid rounded-start">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title mt-4 mb-5">{{parts['name']}}</h5>
        <h6 class="mb-5">
           <b>Price: </b> {{parts["price"]}}
        </h6>
        <h6 class="mb-4">
          <b>quantity: </b> {{parts["quant"]}}
        </h6>
      </div>
    </div>
  </div>
</div>